img[src="assets/LOGO_SOLWIT.png"] {
    max-width: 500px;
    width: 100%;
    margin: 10% auto;
    display: block;
}

h3#mmotelgitbooksiojs-path-es-6content,
h1#ścieżka-javascript-ecmascript-6 {
    text-align: center;
}